@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
*{
    font-family: 'Mukta', sans-serif;
}

body{
    background-color: #f8decc;
}

.barback{
    background-color: #BBDBF7;
    color: #F9D199;
}

.beachback{
    padding-top: 2vh;
    background-color: #f8decc;
}

#home{
    color: white;
    padding: 12em 0 12em 0;
    text-align: center;
    background-attachment: scroll;
    background-image: url("images/coastguard.jpg");
    background-position: center;
    background-size: cover;
    margin-left: 2vw;
    margin-right: 2vw;
}

#home h2{
    margin-top: 0.5em;
    font-size: 3.8em;
    line-height: 1.35;
    margin-bottom: 0.5em;
    margin: 0 auto;
}

#home p{
    font-size: 1.5em;
    margin-bottom: 1.75em;
    text-transform: uppercase;
    color: #f8ebe2;
    font-style: italic;
    margin: 0 auto;
}

#map{
    height: 80vh;
}

header.major{
    /* margin: 0 0 6em 0; */
}

header.major h2{
    font-size: 3.8em;
}

header.major h2{
    display: inline-block;
    /* margin: 0 0 0 0.8em; */
}

header.major p {
    font-size: 1.7em;
    font-style: italic;
    /* margin-bottom: 0; */
}

footer{
    text-align: center;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: 'Mukta';
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: 'Mukta';
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
    background-color: #fff;
    font-family: 'Mukta';
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 20vw;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }

.card-img-top{
    height: 15vw;
    object-fit: cover;
}

#address, #beach_url{
    display: none;
}

.card{
    margin-top: 1vh;
    margin-bottom: 1vh;
}